.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  text-align: center;
  background: #222429;
  margin: 0 auto;
}

.projects__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 1280px;
  padding: 50px 0 100px 0;
} 

.projects__container::before {
  position: absolute;
  content: '';
  top: 0;
  left: calc(50%-333px);
  width: 666px;
  height: calc((974/1440) * 100vw);
  max-height: 974px;
  background-color: #2D2F35;
  z-index: 2;
  clip-path: polygon(0 0, 50% 0, 100% 100%, 50% 100%);
}

.projects__title {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  color: #FFAA18; 
  margin: 0 auto 60px auto;
  z-index: 3;
}

.projects__slider-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  z-index: 3;
}

/* .projects__slider-container:hover .projects__arrow {
  visibility: visible;
  opacity: .8;
  transition: all linear .5s;
} */

.projects__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.projects__cell {
  width: 300px;
  height: 300px;
  margin: 20px;
}

.projects__img {
  width: 300px;
  height: 240px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  margin-bottom: -7px;
}

.projects__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 80px;
  background-color: #FFF;
  margin: 0;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #222429;
  text-align: left;
  padding-left: 20px;
}

.projects__arrow {
  position: relative;
  display: flex;
  visibility: hidden;
  width: 93.5px;
  height: 93.5px;
  border: none;
  border-radius: 50%;
  opacity: 0;
  z-index: 4;
  transition: all linear .5s;
  cursor: pointer;
}

.projects__arrow_prev {
  transform: rotate(180deg);
  position: absolute;
  content: '';
  top: 32%;
  left: 25px;
}

.projects__arrow_next {
  position: absolute;
  content: '';
  top: 32%;
  right: 25px;
}

@media screen and (max-width: 1340px) {
  .projects__container::before {
    display: none;
  }

  /* .projects__cell {
    width: 350px;
    height: 350px;
    margin: 0 30px 0 0;
  } */

  /* .projects__img {
    width: 350px;
    height: 250px;
  } */

  /* .projects__subtitle {
    width: 330px;
    font-size: 16px;
    padding-left: 20px;
  } */
}

@media screen and (max-width: 680px) {
  .projects__container::before {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .projects__slider-container {
    max-width: 320px;
  }

  .projects__slider {
    width: 310px;
  }

  .projects__title {
    font-size: 40px;
  }

  /* .projects__cell {
    width: 280px;
    height: 280px;
    margin: 0 20px 0 0;
  }

  .projects__img {
    width: 280px;
    height: 180px;
  }

  .projects__subtitle {
    width: 270px;
    font-size: 16px;
    padding-left: 10px;
  } */
}
