.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #FFF;
}

.reviews__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  max-width: 1280px;
  padding: 60px 0;
}

.reviews__heading {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.reviews__title {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  color: #FFAA18;
  max-width: 370px;
  margin: 0 0 47px 0;
}

.reviews__subtitle {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #222429;
  max-width: 280px;
  margin: 0;
}

.reviews__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  width: 600px;
}

.reviews__reviewer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 58px 0;
}

.reviewer__img {
  position: relative;
  width: 154px;
  height: 154px;
  border-radius: 50%;
  background: #EDEDED;
}

.reviewer__img::before {
  position: absolute;
  content: url('../../images/reviewerPhoto.svg');
  top: 20%;
  left: 17%;
  width: 87px;
  height: 87px;
}

.reviewer__container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 386px;
  height: 273px;
  background-color: #EDEDED;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 90% 70%, 0 70%);
  padding: 14px 25px 25px 25px;
  margin: 0 0 0 32px;
}

.reviewer__name {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #222429;
  margin: 0 0 20px 0;
  width: 336px;
}

.reviewer__text {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #222429;
  margin: 0;
  max-width: 336px;
}

@media screen and (max-width: 1200px) {
  .reviews__container {
    flex-direction: column;
    align-items: center;
  }

  .reviews__heading {
    align-items: flex-start;
    max-width: 800px;
  }

  .reviews__title {
    max-width: 800px;
    margin-bottom: 30px;
  }

  .reviews__subtitle {
    max-width: 500px;
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 900px) {
  .reviews__title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .reviews__subtitle {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .reviews__block {
    width: 500px;
  }

  .reviewer__img {
    width: 80px;
    height: 80px;
  }

  .reviewer__img::before {
    top: -4px;
    left: -6px;
    transform: scale(.5);
    background-size: 20px 20px;
  }

  .reviewer__container {
    height: 170px;
    margin-left: 20px;
  }

  .reviewer__name {
    font-size: 24px;
  }

  .reviewer__text {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .reviews__block {
    flex-direction: row;
    overflow-x: scroll;
    justify-content: start;
  }

  .reviews__reviewer {
    margin: 0 30px 0 0;
  }
}

@media screen and (max-width: 520px) {
  .reviewer__img {
    display: none;
  }

  .reviewer__img:before {
    display: none;
  }

  .reviewer__container {
    width: 300px;
    margin: 0;
  }

  .reviews__block {
    width: 450px;
  }
}

@media screen and (max-width: 450px) {
  .reviews__container {
    margin-left: 10px;
    max-width: 280px;
  }

  .reviews__title {
    font-size: 24px;
  }

  .reviews__subtitle {
    font-size: 18px;
  }

  .reviews__block {
    width: 300px;
  }

  .reviewer__name {
    max-width: 290px;
  }

  .reviewer__container {
    width: 280px;
    margin: 0;
    padding: 10px;
  }
}