.block__fourth__container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.b_f_conts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.b_f_cont_1{
  width: 350px;
  justify-content:center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.b_f_cont_2{
  width: 350px;
  justify-content:center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.b_f_main_title {
  width: 80%;
  margin: 20px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  color: #FFAA18;
}

.b_f_img {
  width: 36px;
  height: 36px;
  margin-right: 20px;
}

.b_f_title{
  width: 294px;
  margin-bottom: 10px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #FFAA18;
}

.b_f_text{
  width: 300px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  color: #222429;
}

.b_f_cont_1_1{
  display: flex;
  flex-direction: row;
}

.b_f_cont_all{
  display: flex;
  flex-direction: row;
}
.b_f_cont_content{
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1200px) {
  .b_f_title{
    font-size: 50px;
    line-height: 1;
    width: 100%;
  }
  .b_f_text{
    font-size: 40px;
    line-height: 1;
    width: 100%;
  }
  .b_f_cont_1{
    width: 80%;
  }
  .b_f_cont_2{
    width: 80%;
  }
  .b_f_cont_all{
    margin-top: 50px;
  }
  .b_f_main_title{
    font-size: 120px;
    line-height: 1;
    width: 90%;
  }
}
@media only screen and (max-width: 716px) {
  .block__fourth__container { 
    justify-content: center;
  }
  .b_f_title{
    font-size: 5vw;
  }
  .b_f_main_title{
    margin-left: auto;
    margin-right: auto;
    font-size: 6vw;
  }
  .b_f_text{
    font-size: 4vw;
  }
  .b_f_conts{
    justify-content: center;
  }
  .b_f_cont_all{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
  }
}


@media only screen and (max-width: 600px) {
  .block__fourth__container { 
    justify-content: center;
  }
  .b_f_main_title{
    margin-left: auto;
    margin-right: auto;
  }
  .b_f_conts{
    justify-content: center;
  }
  .b_f_cont_all{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
  }
}