.header {
  width:100%;
  max-width: 1440px;
  min-height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #222429;
  margin: 0 auto;
}

.header__container {
  width: 95%;
  max-width: 1280px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 150px;
  height: 60px;
  opacity: 1;
  transition: all .3s linear;
}

.header__logo:hover {
  transition: all .3s linear;
  opacity: .5;
  cursor: pointer;
}

.header__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all .3s linear;
}

.info__container:nth-of-type(1) {
  margin: 0 45px 0 0;
}

.info__container:hover {
  transition: all .3s linear;
  opacity: .5;
  cursor: pointer;
}
  
.header__image {
  min-width: 36px;
  min-height: 20px;
}  
  
.header__text {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #F0F0F0;
  margin-left: 15px;
  text-decoration: none;
}

.header__text:visited .header__text:active {
  text-decoration: none;
  color: #F0F0F0;
}

@media screen and (max-width : 768px) {
  .header__logo {
    margin: 20px 0;
  }

  .header__info {
    flex-direction: column;
  }

  .info__container {
    margin: 20px 0;
  }

  .info__container:nth-of-type(1) {
    margin-right: 0;
  }
}

@media screen and (max-width : 500px) {
  .header__container {
    flex-direction: column;
  }
}