.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../images/intro_bg.jpg');
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  width: 100%;
  max-width: 1440px;
  height: calc(800 / 1440 * (100vw));
  max-height: 800px;
}

.intro__text {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding-top: 0;
}

.intro__title {
  margin: 0 0 20px 0;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  color: #fff;
}

.intro__title span {
  color: #ffaa18;
}

.intro__subtitle {
  font-family: Metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  margin: 0;
}

@media screen and (max-width : 850px) {
  .intro__text {
    padding-top: calc(0.05 * (100vw));
  }

  .intro__title {
    font-size: 50px;
    margin-bottom: 15px;
  }

  .intro__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width : 700px) {
  .intro__title {
    font-size: 40px;
  }

  .intro__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width : 450px) {
  .intro__text {
    padding-top: calc(0.05 * (100vw));
  }
  
  .intro__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .intro__subtitle {
    font-size: 10px;
  }
}