.block__eigth__container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.b_ei_cont_info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  margin: 20px;
}
.b_ei_cont_title{
  width: 400px;
  margin: 50px;
}
.b_ei_title{
  width: 373px;
  height: 36px;
  margin: 20px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: #FFFFFF;
}
.b_ei_subtitle{
  width: 237px;
  height: 28px;
  margin: 10px;
  margin-left: 20px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #FFFFFF;
}
.b_ei_text{
  width: 454px;
  height: 48px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}
.b_ei_adress{
  width: 283px;
  height: 48px;
  text-align: left;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}
.b_ei_phone{
  width: 283px;
  height: 20px;

  text-align: left;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #F0F0F0;
}
.b_ei_email{
  width: 283px;
  height: 20px;
  text-align: left;

  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #F0F0F0;
}
.b_ei_img{
  width: 50px;
  height: 50px;
  margin: 20px;
}
.b_ei_logo{
  width: 172px;
  height: 65px;
}

.b_ei_form{
  width: 626px;
  height: 465px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  color: white;
}

.b_ei_form > input::placeholder{
  color: rgb(228, 217, 217);
}

.b_ei_form_name{
  width: 300px;
  height: 60px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  color: white;
}

.b_ei_form_phone{
  width: 300px;
  height: 60px;
  border: 1px solid #FDFDFD;
  box-sizing: border-box;
  color: white;
}

.b_ei_form_email{
  width: 626px;
  height: 60px;
  border: 1px solid #FDFDFD;
  box-sizing: border-box;
  color: white;
}

.b_ei_form_message{
  width: 626px;
  height: 200px;
  border: 1px solid #FDFDFD;
  box-sizing: border-box;
  color: white;
}
.b_ei_form_button{
  width: 107px;
  height: 46px;
  background: #A3A3A3;
}
.b_ei_form_button_text{
  width: 70px;
  height: 18px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.b_ei_cont_sub{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.b_ei_images{
  width: 411px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}
.b_ei_link_img{
  position: relative;
  width: 50px;
  height:50px;
  z-index: 15;
}
.b_ei_cont_element{
  display: flex;
  flex-direction: row;
}

.b_ei_cont_element > div{
  margin: 20px;
  margin-top: 30px;
}

.b_ei_link_cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

@media only screen and (max-width: 679px) {
  .b_ei_logo{
    margin-right: auto;
    margin-left: auto;
  }

  .b_ei_images{
    margin-right: auto;
    margin-left: auto;
  }
}


@media only screen and (max-width: 1200px) {
  .b_ei_form{
    margin-right: auto;
    margin-left: auto;
  }
  .b_ei_cont_title{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .b_ei_title{
    margin-right: auto;
    margin-left: auto;
  }
  .b_ei_subtitle{
    margin-right: auto;
    margin-left: auto;
  }
  .b_ei_cont_info{
    margin-right: auto;
    margin-left: auto;
  }
}