.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto ;
}

.offers__container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1280px;
  padding: 0 0 40px 0;
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../../images/offers_bg.jpg);
  background-blend-mode: lighten;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.offers__title {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  color: #FFAA18;
  margin: 0 auto 27px 0;
}

.offers__text {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  margin: 0 auto 85px 50px;
  width: 87%;
}

.offers__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.offers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26%;
  text-align: center;
}

.offers__img {
  width: 234px;
  height: 234px;
}

.offers__paragraph {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #000000;
  margin: 75px 0 0 0;
}

@media screen and (max-width : 768px) {
  .offers__container {
    background-size: 500px;
  }

  .offers__title {
    margin-left: 50px;
  }

  .offers__text {
    font-size: 20px;
  }

  .offers__list {
    flex-direction: column;
    align-items: center;
  }

  .offers__item {
    width: 60%;
  }

  .offers__img {
    width: 150px;
    height: 150px;
  }

  .offers__paragraph {
    font-size: 20px;
    margin: 40px auto 30px auto;
  }
}

@media screen and (max-width : 525px) {
  .offers__title {
    font-size: 40px;
    margin-left: 10px;
  }

  .offers__text {
    font-size: 15px;
    margin-left: 10px;
  }

  .offers__img {
    width: 100px;
    height: 100px;
  }

  .offers__paragraph {
    font-size: 15px;
    margin-left: 10px;
  }
}